
.right-section > .section {
  margin-right: 0;
}


@media (min-width: 350px){

}

@media (min-width: 768px){
  .column-container{
    grid-template-columns: repeat(calc(var(--columns)), 1fr);
  }

  .section-image {
    margin-left: -15px;
    width: calc(50vw);
  }

  .right-section {
    grid-column: 7/13;
  }
  
}

@media (min-width: 1200px ){
  :root{
    --maxWidth-wrapper: var(--maxWidth-4xl);
    --fontSize-4: 2.5rem
  }
}

@media (min-width: 1440px) {
  .background-image{
    max-width: 1440px;
    margin: 0 auto;
  }
}